@font-face {
  font-family:'Hurmit Nerd Font Mono';
  src: url('Hurmit-Nerd-Font-Mono.otf');
}

body {
  font-family: 'Hurmit Nerd Font Mono', monospace;
  font-size: 20px;
  background-color: #0F0F12;
  background-image: url("img/");
  background-repeat: repeat;
  width: 670px;
  height: 320px;
  position: absolute;
  top: 0px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  margin: auto;
}

h1 {
  font-weight: normal;
  color: #FEFFFA;
  position: relative;
  text-align: center;
  horizontal-align: middle;
}

.flair {
  color: #0972D6;
}

.main {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #232328;
  position: relative;
  top: -100px;
  width: 770px;
  height: 600px;
  left: -200px;
  right: 0px;
  margin: auto;
  background-color: #18181D;
  text-align: center;
}

.image-wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #232328;
  position: absolute;
  top: -1px;
  width: 300px;
  height: 600px;
  left: 770px;
  background-color: #18181D;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  top: -1px;
  width: 300px;
  height: 600px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 575px;
  width: auto;
  right: 10px;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px 0 0 3px;
  border-radius: 50%;
  display: inline-block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.codes {
  color: #FFFFFF;
  font-family: 'Hurmit Nerd Font Mono', monospace;
  font-size: 18px;
  position: absolute;
  top: 565px;
  width: auto;
  height: auto;
  left: 12px;
}

li {
  margin: 10px 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
  horizontal-align: middle;
  color: #BFBFBF;
  font-size: 20px;
  text-align: center;
  left= 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

ul {
  display: table-cell;
  horizontal-align: middle;
  text-align: center;
  height: 100%;
  border-color: #232328;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 10px 25px;
  transition: all 0.8s;
  cursor: default;
  list-style-type: none;
}

ul:last-of-type {
  border-right-width: 0;
}

ul:hover {
  color: #FFFFFF;
}

ul > li:first-of-type{
  padding-top: 5px;
}

ul > li > a {
  text-decoration:none;
  color: #adadad;
  transition: all 0.8s;
}

ul[class=green] > li > a:hover {
  color: #4FAE0F;
  transition: all 0.5s;
}

ul[class=blue] > li > a:hover {
  color: #0972D6;
  transition: all 0.5s;
}

ul[class=red] > li > a:hover {
  color: #ed3434;
  transition: all 0.5s;
}

ul[class=yellow] > li > a:hover {
  color: #edd934;
  transition: all 0.5s;
}
